* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}


body {
  background-color: rgb(51, 51, 79);
}

.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}